<html ng-app="app">
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<head>
    <title>Index</title>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <!-- Libraries -->
    <script src="app/bower_components\angular\angular.js"></script>
    <script src="app/bower_components\angular-route\angular-route.js"></script>
    <script src="app/bower_components\angular-cookies\angular-cookies.js"></script>
    <script src="app/bower_components\jquery\dist\jquery.js"></script>
    <script src="app/bower_components\cryptojslib\rollups\sha512.js"></script>
    <script src="app/bower_components\angular-bootstrap\ui-bootstrap.js"></script>
    <script src="app/bower_components\angular-bootstrap\ui-bootstrap-tpls.js"></script>
    <script src="app/bower_components\bootstrap\dist\js\bootstrap.js"></script>
    <script src="app/bower_components\angular-animate\angular-animate.js"></script>
    <script src="app/bower_components\authenticateJS\build\authenticate.js"></script>
    <script src="app/bower_components\hammerjs\hammer.js"></script>
    <script src="app/bower_components\angular-aria\angular-aria.js"></script>
    <script src="app/bower_components\angular-material\angular-material.js"></script>
    <script src="app/bower_components\angular-route-animation-manager\angular-route-animation-manager.js"></script>

  <!-- Angular NVD3 -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/d3/d3.js"></script>
  <script src="bower_components/nvd3/nv.d3.js"></script> <!-- or use another assembly -->
  <script src="bower_components/angular-nvd3/dist/angular-nvd3.js"></script>
  <link rel="stylesheet" href="bower_components/nvd3/nv.d3.css">

    <!-- include files -->
    <script src="app/app.js"></script>

    <script src="app\views\list\listDialog.js"></script>

    <!-- services -->
    <script src="app/components\toast\toast.js"></script>
    <script src="app\components\authorization\auth.js"></script>
    <script src="app\views\list\listService.js"></script>

    <!-- controllers -->
    <script src="app/views/index/indexController.js"></script>
    <script src="app/views/home/homeController.js"></script>
    <script src="app/views/about/aboutController.js"></script>
    <script src="app/views/login/loginController.js"></script>
    <script src="app/views/register/registerController.js"></script>
    <script src="app/views/logout/logoutController.js"></script>
    <script src="app\views\profile\profileController.js"></script>
    <script src="app\views\list\listController.js"></script>

    <script src="app\views\query\queryController.js"></script>
    <script src="app\views\query\stats\statsController.js"></script>
    <script src=""></script>

    <script src="googleChart.js"></script>
    <script src=""></script>
    <script src=""></script>


    <script src=""></script>
    <script src=""></script>
    <script src=""></script>
    <script src=""></script>
    <script src=""></script>


    <!-- routes -->
    <script src="app/routes.js"></script>

    <!-- library stylesheets -->
    <link rel="stylesheet" type="text/css" href="app/bower_components\bootstrap\dist\css\bootstrap.css">
    <link rel="stylesheet" type="text/css" href="app/bower_components\angular-material\angular-material.css">
    <link rel="stylesheet" type="text/css" href="app/bower_components\angular-material\themes\default-theme.css">
    <link rel="stylesheet" type="text/css" href="app/bower_components\angular-material\themes\light-blue-dark-theme.css">
    <link rel="stylesheet" type="text/css" href="app/bower_components\angular-material\themes\pink-theme.css">
    <link rel="stylesheet" type="text/css" href="app/bower_components\angular-material\themes\amber-theme.css">
    <link rel="stylesheet" type="text/css" href="app/bower_components\angular-material\themes\grey-theme.css">
    <link rel="stylesheet" type="text/css" href="app/bower_components\angular-material\themes\red-theme.css">
    <link rel="stylesheet" type="text/css" href="app/bower_components\angular-material\themes\teal-theme.css">
    <link rel="stylesheet" type="text/css" href="app/bower_components\angular-material\themes\indigo-theme.css">
    <link rel="stylesheet" type="text/css" href="app/bower_components\angular-material\themes\green-theme.css">


    <link rel="stylesheet" type="text/css" href="app/css\style.css">
  </head>
  <body ng-controller="appController">

  <section layout="horizontal" style="height:100%" >

    <md-sidenav class="md-sidenav-left md-whiteframe-z2" component-id="left" is-locked-open="$media('md')" md-theme="light-blue-dark">
<md-toolbar class="md-theme-indigo" >
  <h1 class="md-toolbar-tools">Camera DB</h1>
</md-toolbar>

      <md-content  ng-controller="LeftCtrl" md-theme="green">

          <button class="menu-item menu-title" onClick="parent.location='#'" ink-ripple >Home</button>
          <!-- ng-hide="isLoggedIn" -->
          <button class="menu-item menu-title" ng-hide="isLoggedIn" onClick="parent.location='#/login'" ink-ripple>Login</button>
          <button class="menu-item menu-title" ng-hide="isLoggedIn" onClick="parent.location='#/register'"  ink-ripple>Register</button>
          <button class="menu-item menu-title" onClick="parent.location='#/about'" ink-ripple>About</button>
          <button class="menu-item menu-title" ng-show="isLoggedIn" onClick="parent.location='#/profile'"  ink-ripple>Profile</button>
          <div ng-show="isLoggedIn">
            <div ng-hide="showList">
              <md-button ng-click="showList = !showList" aria-label="Switch 1"> Show entries  <img src="assets/icons/expandMore.svg" height="100%" width="100%"/>
            </div>
            <div ng-show="showList">
              <md-button ng-click="showList = !showList" aria-label="Switch 1"> Show entries <img src="assets/icons/expandLess.svg" height="100%" width="100%"/>
            </div>

                        <!--       Link to list where you get all entries in each option         -->
            <div class="check-element" ng-show="showList" >
              <button class="menu-item menu-title" ng-show="isLoggedIn" onClick="parent.location='#/list/camera'" ink-ripple>Cameras</button>
              <button class="menu-item menu-title" ng-show="isLoggedIn" onClick="parent.location='#/list/countries'"   ink-ripple>Countries</button>
              <button class="menu-item menu-title" ng-show="isLoggedIn" onClick="parent.location='#/list/customer'"  ink-ripple>Customers</button>
              <button class="menu-item menu-title" ng-show="isLoggedIn" onClick="parent.location='#/list/hobby'" ink-ripple>Hobbies</button>
              <button class="menu-item menu-title" ng-show="isLoggedIn" onClick="parent.location='#/list/lens'"  ink-ripple>Lens</button>
              <button class="menu-item menu-title" ng-show="isLoggedIn" onClick="parent.location='#/list/profession'"  ink-ripple>Profession</button>
              <button class="menu-item menu-title" ng-show="isLoggedIn" onClick="parent.location='#/list/sale'"  ink-ripple>Sales</button>
              <button class="menu-item menu-title" ng-show="isLoggedIn" onClick="parent.location='#/list/storage'"  ink-ripple>Storage</button>
              <button class="menu-item menu-title" ng-show="isLoggedIn" onClick="parent.location='#/list/type'"  ink-ripple>Type</button>
            </div>

            <div ng-hide="showList">
              <md-button ng-click="showQuery = !showQuery" aria-label="Switch 1">show queries  <img src="assets/icons/expandMore.svg" height="100%" width="100%"/>
            </div>
            <div ng-show="showList">
              <md-button ng-click="showQuery = !showQuery" aria-label="Switch 1">show queries <img src="assets/icons/expandLess.svg" height="100%" width="100%"/>
            </div>
            <div class="check-element" ng-show="showQuery">
              <button class="menu-item menu-title" ng-show="isLoggedIn" onClick="parent.location='#/list/camera'" ink-ripple>Cameras</button>
              <button class="menu-item menu-title" ng-show="isLoggedIn" onClick="parent.location='#/list/countries'"   ink-ripple>Countries</button>
              <button class="menu-item menu-title" ng-show="isLoggedIn" onClick="parent.location='#/list/customer'"  ink-ripple>Customers</button>
              <button class="menu-item menu-title" ng-show="isLoggedIn" onClick="parent.location='#/list/hobby'" ink-ripple>Hobbies</button>
              <button class="menu-item menu-title" ng-show="isLoggedIn" onClick="parent.location='#/list/lens'"  ink-ripple>Lens</button>
              <button class="menu-item menu-title" ng-show="isLoggedIn" onClick="parent.location='#/list/profession'"  ink-ripple>Profession</button>
              <button class="menu-item menu-title" ng-show="isLoggedIn" onClick="parent.location='#/list/sale'"  ink-ripple>Sales</button>
              <button class="menu-item menu-title" ng-show="isLoggedIn" onClick="parent.location='#/list/storage'"  ink-ripple>Storage</button>
              <button class="menu-item menu-title" ng-show="isLoggedIn" onClick="parent.location='#/list/type'"  ink-ripple>Type</button>
            </div>

          </div>

        <button class="menu-item menu-title" ng-show="isLoggedIn" onClick="parent.location='#/logout'"   ink-ripple>Logout</button>

      </md-content>

    </md-sidenav>



  <md-content ng-view class="view-animate" flex></md-content>




<div ng-include="'app/partials/rightsidebar.html'" ng-show="isLoggedIn"></div>

  </div>

  </section>





  </body>
</html>
