<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/CryptoJS/build/rollups/sha1.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="assets/js/app.js"></script>
  </head>

  <body ng-app="loginApp">
    <h1>Login</h1>

<div ng-controller="loginController as form">

    <div ng-if="status == 200">
      <div class="alert alert-success" role="alert">
        {{status}}<br/>
        {{message}}<br/>
        {{access_token}}
      </div>
    </div>
    <div ng-if="status != 200">
    <form class="login-form" name="loginform" ng-submit="submit(loginform, data)" >
      username: <input type="text" ng-model="login.username" placeholder="username" class="form-control"/><br />
      password: <input type="password" ng-model="login.password" placeholder="passwords" class="form-control"/><br />
      <input type="submit" id="submit" value="login" />
    </form>
  </div>
</div>
    <div class="result"></div>
  <script>
    angular.module('loginApp', [])

      .controller('loginController', function($scope) {
        $scope.login={};
        var hash = CryptoJS.SHA1($scope.login.password);
        $scope.submit = function()  {
          $.ajax({
  type: "POST",
  url: "https://zeno.computing.dundee.ac.uk/2014-ac32006/yagocarballo/?__route__=/login",
  data: JSON.stringify({username: $scope.login.username, password: hash.toString()}),
  //5baa61e4c9b93f3f0682250b6cf8331b7ee68fd8
  success: console.log("yay "),//$scope.status = data.status,
  dataType: "JSON"
}).done(function(data){
  $scope.status=data.status;
  $scope.message=data.message;
  $scope.access_token = data.access_token;
  //alert(JSON.stringify(data, null, 4));

}).fail(function(data){
  console.log("oh it failed " + data.status);
}).success(function(data){
  console.log("yay success " + data.status);
});

      }


      });


  </script>
</body>
</html>
