<md-toolbar>
    <div class="md-toolbar-tools">
      <div ng-include="'back.html'"></div>
      <span class="md-flex"><h1>{{title}}</h1></span>
    </div>
  </md-toolbar>


  <md-card>

    <div ng-hide="online" style="text-align:center">
      <h1>Loading data</h1>
      <img src="assets/icons/loading.gif"/>
      <p>If this takes long please check your connection.</p>
    </div>


    <div ng-show="online">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <span class="md-flex">Welcome</span>
        </div>
      </md-toolbar>

  <md-content class="md-padding" style="text-align:center">
    <h1>CamStats</h1>
    <p>The perfect tool for planning your next camera or researching the trends.</p>
    <img src="assets/icons/logo_grey.png"/>
    <div ng-controller="aboutController">
      <h2><b>Module:</b> {{ data.module }}</h2>
      <h3><b>Team:</b> {{data.team}}</h3>
    </div>
  </md-content>
</div>
</md-card>
