
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">

<md-toolbar>
    <div class="md-toolbar-tools">
      <div ng-include="'back.html'"></div>
      <span class="md-flex"><h1>{{title}}</h1></span>
    </div>

  </md-toolbar>
  <md-card>
  <form class="type-form formmy" name="typeForm" ng-submit="submitQuery(selected)" >
    <h2>{{summary}}</h2>
    <div ng-hide="countriesSuccess" style="text-align:center">
      <p>Loading input data...</p>
       <img src="assets/icons/loading.gif"/>
    </div>
    <div ng-show="countriesSuccess">
      <label>Please enter a country.</label><input type="text" ng-model="selected" typeahead="country as country.name for country in countries | filter:$viewValue | limitTo:8" class="form-control" placeholder="Enter a country">
      <div class="md-actions" layout="horizontal" layout-align="end">
        <md-button class="md-primary" aria-label="null" ng-click="hide()" type="submit">Get results</md-button>
      </div>
    </div>
  </form>
</md-card>




    <h1>{{stats}}</h1>



<md-card>
<div ng-hide="data" class="fadeIn" style="text-align:center">
    <h1>Results</h1>

    <p>You should expect your results to appear here.</p>
    <br>
</div>

<div ng-show="data" class="fadeIn">

  <h1 ng-show="countryName">Showing results for {{countryName}}</h1>

  <br />
  <nvd3 options="options_bar" data="data_bar"></nvd3>


  <div ng-show="isCamera">
    <nvd3 options="options" data="data"></nvd3>
     <table at-table at-list="data" class="table table-striped" ng-show="data">
    <thead></thead>
    <tbody>
      <tr>
        <td at-implicit at-attribute="label" at-sortable at-initial-sorting="desc"></td>
        <td at-implicit at-attribute="value" at-sortable at-initial-sorting="desc"></td>
      </tr>
    </tbody>
  </table>
  </div>

<div ng-show="isType">
  <table at-table at-list="data" class="table table-striped" ng-show="data">
    <thead></thead>
    <tbody>
      <tr>
        <td at-implicit at-attribute="type" at-sortable at-initial-sorting="desc"></td>
        <td at-implicit at-attribute="sales" at-sortable at-initial-sorting="desc"></td>
      </tr>
    </tbody>
  </table>
  </div>
  </md-content>
</md-card>
</div>
