
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">

<md-toolbar md-theme="indigo" onload="update(1, 2)">
    <div class="md-toolbar-tools">
      <div ng-include="'back.html'"></div>
      <span class="md-flex"><h1>{{title}}</h1></span>
    </div>
  </md-toolbar>



<md-card>
  <md-content class="md-padding">
    <h1>{{stats}}</h1>
    <div ng-hide="data">
      <img src="FkZ8zcY.gif"/>
    </div>
    <div ng-show="data">
      <nvd3 options="options" data="data"></nvd3>
    </div>
<table at-table at-list="data" class="table table-striped">
  <thead></thead>
  <tbody>
    <tr>
      <td at-implicit at-attribute="label" at-sortable at-initial-sorting="desc"></td>
      <td at-implicit at-attribute="value" at-sortable at-initial-sorting="desc"></td>
    </tr>
  </tbody>
</table>
   
  </md-content>
</md-card>
