
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">

<md-toolbar md-theme="indigo" onload="update(1, 2)">
    <div class="md-toolbar-tools">
      <div ng-include="'back.html'"></div>
      <span class="md-flex"><h1>{{title}}</h1></span>
    </div>
  </md-toolbar>



<md-card>
  <md-content class="md-padding">
    <h1>{{stats}}</h1>
      <nvd3 options="options" data="data"></nvd3>

   <md-list>
     <md-item ng-repeat="out in data">
       <md-item-content>
         <div class="md-tile-content">
           {{out.label}}: {{out.value}}
         </div>
       </md-item-content>
     </md-item>

   </md-list>
  </md-content>
</md-card>
