<md-sidenav class="md-sidenav-right md-whiteframe-z2" component-id="right" aria-label="oh" md-theme="light-blue-dark">

      <md-toolbar class="md-theme-light" class="md-padding">
        <h1 class="md-toolbar-tools" aria-label="oh">List Menu</h1>
        <p class="md-padding">Please select an option to see all entries for.</p>
      </md-toolbar>
      <md-content ng-controller="RightCtrl" class="md-padding">

        <button class="menu-item menu-title" ng-show="isLoggedIn" onClick="parent.location='#/list/camera'" ink-ripple>Cameras</button>
        <button class="menu-item menu-title" ng-show="isLoggedIn" onClick="parent.location='#/list/countries'"   ink-ripple>Countries</button>
        <button class="menu-item menu-title" ng-show="isLoggedIn" onClick="parent.location='#/list/customer'"  ink-ripple>Customers</button>
        <button class="menu-item menu-title" ng-show="isLoggedIn" onClick="parent.location='#/list/hobby'" ink-ripple>Hobbies</button>
        <button class="menu-item menu-title" ng-show="isLoggedIn" onClick="parent.location='#/list/lens'"  ink-ripple>Lens</button>
        <button class="menu-item menu-title" ng-show="isLoggedIn" onClick="parent.location='#/list/profession'"  ink-ripple>Profession</button>
        <button class="menu-item menu-title" ng-show="isLoggedIn" onClick="parent.location='#/list/sale'"  ink-ripple>Sales</button>
        <button class="menu-item menu-title" ng-show="isLoggedIn" onClick="parent.location='#/list/storage'"  ink-ripple>Storage</button>
        <button class="menu-item menu-title" ng-show="isLoggedIn" onClick="parent.location='#/list/type'"  ink-ripple>Type</button>
        <md-button ng-click="close()" class="md-primary" aria-label="oh">
          Close Sidenav Right
        </md-button>
    </md-content>

    </md-sidenav>
