<md-toolbar md-theme="green">
  <div class="md-toolbar-tools">
    <div ng-include="'back.html'"></div>
    <span class="md-flex"><h1>{{message}}</h1></span>
  </div>
</md-toolbar>

<section layout="horizontal" layout-sm="horizontal" layout-align="center center">
  <md-tabs selected="selectedIndex" md-theme="green">
      <md-tab ng-repeat="tab in tabs" on-select="onTabSelected(tab)" on-deselect="announceDeselected(tab)" ng-disabled="tab.disabled" label="{{tab.title}}">

        <div ng-class="tab.style" layout="vertical" layout-fill layout-align="left center" >
            <md-content class="md-padding" style="width: 100%;">
              <ANY ng-switch="tab.title">
                <ANY ng-switch-when="User">
                  <section layout="horizontal" layout-sm="horizontal" layout-align="center center">
                    <md-content md-theme="pink">
                      <h3>Edit User Data</h3>
                    <form class="login-form" name="loginform" ng-submit="submit()" >
                      <md-text-float label="username" ng-model="login.username" placeholder="username" required autofocus></md-text-float>
                      <md-text-float label="password" ng-model="login.password" type="password" placeholder="password" required></md-text-float>
                      <md-text-float label="Confirm Password" ng-model="login.passwordconfirm" type="password" placeholder="password" required></md-text-float>
                      <md-button class="md-raised md-primary" aria-label type="submit">Login</md-button>
                    </form>
                  </section>
                </ANY>
                <ANY ng-switch-when="Database">
                  <section layout="horizontal" layout-sm="horizontal" layout-align="center center" md-theme="indigo">
                    <!-- Displays database editing stuff -->
                    <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center" width="80%">
                      <md-content class="md-padding" style="width: 100%;">
                        <div layout="vertical" layout-sm="horizontal" layout-align="center">
                          <md-button class="md-primary" ng-click="dialogStorage($event)">
                            Add new Camera Storage
                          </md-button>

                        </div>
                        <md-button class="md-primary" ng-click="dialogType($event)">
                          Add new Camera Type
                        </md-button>

                      </md-content>
                    </md-whiteframe>
                    
                  </section>
                </ANY>
                <ANY ng-switch-when="Account">
                  <section layout="horizontal" layout-sm="horizontal" layout-align="center center">
                    <h3>Edit Account Stuff</h3>
                  </section>
                </ANY>
                <ANY ng-switch-default>...</ANY>
              </ANY>
              <!--<div flex ng-bind="tab.content" class="tab-text"></div>-->
            </md-content>
        </div>
      </md-tab>
  </md-tabs>

</section>
