<!--
              Input requirements

  - camera_id
  - store_id
  - customer_id

-->
<md-dialog>
  <md-content ng-controller="listDialog">
    <h3>Add new hobby</h3>

    <form class="type-form" name="typeForm" ng-submit="submitNewType(hobby.name)">
      <md-text-float label="type Name" ng-model="hobby.name" required></md-text-float>
      <div class="md-actions" layout="horizontal" layout-align="end">
        <md-button aria-label="null" ng-click="cancel()">Cancel</md-button>
        <md-button class="md-primary" aria-label="null" ng-click="hide()" type="submit">Add</md-button>
      </div>
    </form>
  </md-content>
</md-dialog>
