<md-dialog>
  <md-content>
    <h3>Add Storage Type</h3>
    <p ng-show="storageAlert">{{storageAlert}}</p>
    <form class="storage-form" name="storageForm" ng-submit="submitNewStorage()" ng-controller="adminController" >
      <md-text-float label="Storage Name" ng-model="storage.type" required></md-text-float>
      <div class="md-actions" layout="horizontal" layout-align="end">
        <md-button ng-click="cancel()">Cancel</md-button>
        <md-button class="md-primary" ng-click="hide()" type="submit">Add</md-button>
      </div>
    </form>
  </md-content>
</md-dialog>
