
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">

<md-toolbar onload="update(1, 2)">
    <div class="md-toolbar-tools">
      <div ng-include="'back.html'"></div>
      <span class="md-flex"><h1>{{title}}</h1></span>
    </div>
  </md-toolbar>



  <md-card>
    <div ng-hide="graphHobbyReady" style="text-align:center">
      <p>Loading input data...</p>
      <img src="assets/icons/loading.gif"/>
    </div>
    <div ng-show="graph">
    <h1>Top cameras bought by...</h1>
    <div layout="row" layout-padding>
      <div flex="50" offset="0">
        <div ng-controller="topProfessionController">
          <h2>Profession</h2>
          <nvd3 options="options" data="graphProfession"></nvd3>
          <table at-table at-list="graphProfession" class="table table-striped">
            <thead></thead>
            <tbody>
              <tr>
                <td at-implicit at-attribute="profession" at-sortable at-initial-sorting="desc"></td>
                <td at-implicit at-attribute="camera" at-sortable ></td>
                <td at-implicit at-attribute="sales" at-sortable ></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
        <div flex="50" offset="0">
          <h2>Hobby</h2>
          <nvd3 options="options" data="graph"></nvd3>
          <nvd3 options="options_bar" data="graph"></nvd3>
          <table at-table at-list="graph" class="table table-striped">
            <thead></thead>
            <tbody>
              <tr>
                <td at-implicit at-attribute="hobby" at-sortable at-initial-sorting="desc"></td>
                <td at-implicit at-attribute="camera" at-sortable at-initial-sorting="desc"></td>
                <td at-implicit at-attribute="sales" at-sortable at-initial-sorting="desc"></td>
              </tr>
            </tbody>
          </table>
        </div>
</div>


      </div>
  </md-card>
