<head/><md-dialog>
  <md-content>
    <h2>Login</h2>
    <section layout="horizontal" layout-sm="horizontal" layout-align="center center" ng-controller="loginController">
        <md-content md-theme="indigo">
        <form class="login-form" name="loginform" ng-submit="submit()" >
          <md-text-float label="username" ng-model="login.username" placeholder="username" required autofocus></md-text-float>
          <md-text-float label="password" ng-model="login.password" type="password" placeholder="password" required></md-text-float>
          <div class="md-actions" layout="horizontal" layout-align="end">
            <md-button ng-click="cancel()">
              Cancel
            </md-button>
            <md-button class="md-primary" ng-click="hide()" type="submit">
      Login
    </md-button>
          </div>
        </form>
      </section>
  </md-content>

</md-dialog>
